/*
 * This file is part of Campus Party - Recife 2015 App.
 * Campus Party - Recife 2015 App is free software: you can redistribute it 
 * and/or modify it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation, either version 3 of the License, 
 * or (at your option) any later version.
 * 
 * Campus Party - Recife 2015 App is distributed in the hope that it will be 
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General 
 * Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along 
 * with Campus Party - Recife 2015 App.
 * If not, see <http://www.gnu.org/licenses/>.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

a, p, li { text-align: justify; font-family: robotoregular; }

h1, h2, h3, h4, h5, h6, h7 { font-family: robotomedium; }

#header-menu p {font-family: robotothin !important; letter-spacing: 0.1em !important;}

:focus { box-shadow: none !important}

.ui-input-search {
    width: 98%;
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-left: -16px !important;
    border-radius: 2px;
}

.btn-to-top {
    position: fixed;
    float: right;
    bottom: 2em;
    right: 1em;
    width: 3em;
    height: 3em;
    opacity: 0.6;
    background-color: #ffffff;
    background-image: url(../js/jquerymobile/images/icons-svg/carat-u-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
    box-shadow: #666666 0px 0px 10px;
}

/* Campus Party header-menu */
#header-menu { 
    top: 0 !important; 
    margin: 0 !important; 
    padding: 0 !important; 
    border: none !important; 
}

#header-menu li { width: 25% !important; box-shadow: #1f1f1f -1px 1px 5px 0px}

#header-menu li a { 
    padding-top: 2.5em !important;
    border: none !important; 
    color: #ffffff !important; 
    border: none !important; 
    margin: 0 !important;
    text-align: center 
}

#header-menu li { border: none !important; }

#header-menu li p {
    text-align: center;
    margin: 0 !important;
    font-size: 1em;
    line-height: 2em;
}

#header-menu li img {
    width: 65%;
    border: none;
    height: auto;
}

/* footer */
.be-ui-footer-line { height: 1em !important; text-align: center }

.be-ui-footer-line img { 
    width: 4em; 
    height: auto; 
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 2em;
    margin-top: -1.3em !important;
}

/* Campus Party colors */
.ui-content ul .ui-btn {
    background-repeat: no-repeat !important;
    background-position: right center;
    padding: 1.2em;
}

.cp-bg-earth, .cp-bg-earth .ui-btn { background-color: #3399ff !important }
#page-schedule-by-stage .cp-bg-earth .ui-btn { background-image: url(../img/bg_terra.png); }
.cp-bg-moon, .cp-bg-moon .ui-btn { background-color: #003399 !important }
#page-schedule-by-stage .cp-bg-moon .ui-btn { background-image: url(../img/bg_lua.png); }
.cp-bg-jupter, .cp-bg-jupter .ui-btn { background-color: #8f468b !important }
#page-schedule-by-stage .cp-bg-jupter .ui-btn { background-image: url(../img/bg_jupiter.png); }
.cp-bg-venus, .cp-bg-venus .ui-btn { background-color: #b80168 !important }
#page-schedule-by-stage .cp-bg-venus .ui-btn { background-image: url(../img/bg_venus.png); }
.cp-bg-mars, .cp-bg-mars .ui-btn { background-color: #f7a100 !important }
#page-schedule-by-stage .cp-bg-mars .ui-btn { background-image: url(../img/bg_marte.png); }
.cp-bg-saturn, .cp-bg-saturn .ui-btn { background-color: #6ebb27 !important }
#page-schedule-by-stage .cp-bg-saturn .ui-btn { background-image: url(../img/bg_saturno.png); }
.cp-bg-startupmakers, .cp-bg-startupmakers .ui-btn { background-color: #339999 !important }
.cp-bg-ws-startupmakers, .cp-bg-ws-startupmakers .ui-btn { background-color: #336666 !important }
.cp-bg-workshop-i, .cp-bg-workshop-i .ui-btn { background-color: #999999 !important }
.cp-bg-workshop-ii, .cp-bg-workshop-ii .ui-btn { background-color: #666666 !important }
.cp-bg-digital-inclusion-i, .cp-bg-digital-inclusion-i .ui-btn { background-color: #ffcc00 !important }
.cp-bg-digital-inclusion-ii, .cp-bg-digital-inclusion-ii .ui-btn { background-color: #ebae08 !important }
.cp-bg-bycommunity, .cp-bg-bycommunity .ui-btn { background-color: #9999cc !important }

.cp-bg-main, .cp-bg-main .ui-btn { background-color: #0099ff !important; }
.cp-bg-innovation, .cp-bg-innovation .ui-btn { background-color: #005298 !important; }
.cp-bg-creativity, .cp-bg-creativity .ui-btn { background-color: #de1c85 !important; }
.cp-bg-digital-ent, .cp-bg-digital-ent .ui-btn { background-color: #ff5a00 !important; }
.cp-bg-developers, .cp-bg-developers .ui-btn { background-color: #77216E !important; }
.cp-bg-freesoftware, .cp-bg-freesoftware .ui-btn { background-color: #1f9eb7 !important; }
.cp-bg-science, .cp-bg-science .ui-btn { background-color: #2eb135; }



.cp-bg-activities-1 {}
.cp-bg-activities-2 {}
.cp-bg-activities-3 {}

#page-about h3 { text-align: center; }

.ui-slider-handle, .ui-slider-track { 
    border-radius: 5em !important; height: 3em !important;
} 

.ui-slider-handle { width: 3em !important; background-color: #005298 !important; }
.ui-slider-track {  }

.ui-slider-inneroffset { width: 2.89em !important; }

.ui-slider-switch { }

.ui-slider-handle {  }

/* Beacon notifications */
#beacon-notifications { box-shadow: none !important;}

#beacon-notifications li { text-align: center !important; }

#beacon-notifications .ui-li-static:not(.ui-first-child):not(.ui-last-child) { color: #898b8c !important; }

#beacon-notifications .ui-first-child { color: #7b7d7f !important; }

#beacon-notifications .ui-last-child { color: #a9aaab !important; }

/* Schedule */

#schedule-filter-bar {
    position: fixed;
    height: 3em;
    width: 15em;
    top: 10em;
    right: 0em;
    background: #fff;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: #898b8c 0px 1px 5px
}

#schedule-filter-bar a {
    display: block;
    width: 1em;
    height: 1em;
    padding: 1em;
}

#btn-show-schedule-filter-bar {
}


#beacon-off  { text-align: center !important;}

#beacon-on  { text-align: center !important;}

#beacon-notify { text-align: center !important;}

#beacon-off p { text-align: center !important;}

#beacon-on p { text-align: center !important;}


/* schedule pages*/
.filter-bar-hidden { right: -13em !important }

.ui-listview h1, .ui-listview h2, .ui-listview h3, .ui-listview h4 {
    font-family: robotothin;
    text-shadow: none !important;
}

#page-schedule .ui-listview a {
    background-image: url('../img/bg_terra2.png');
    background-color: rgba(84, 84, 84, 1.0);
    padding: 1.8em 1em;
    font-size: 1.2em;
}

#page-schedule .ui-listview li {
    margin-top: 0.8em;
}

#page-schedule .ui-listview h2 { color: #ffffff !important; }

.ui-collapsible .ui-btn, .ui-collapsible .ui-btn:visited, 
.ui-collapsible .ui-btn:hover, .ui-collapsible .ui-btn:active {
    color: #ffffff;
    text-shadow: none !important;
}

#page-schedule-by-stage .ui-collapsible {
    margin-bottom: 0.5em;
}



ul.ui-collapsible-set { padding: 0 !important; list-style-type: none !important; }