<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bigeyessolution.CampusPartyRecife" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Campus Party Recife 2015</name>
    <description>
        The Official Campus Party Mobile App for CPRecife 2015.
    </description>
    <author email="contato@bigeyessolution.com" href="http://www.bigeyessolution.com">
        Big Eyes Solution Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="BackgroundColor" value="0xff0097ff"/>
    <preference name="ios-statusbarstyle" value="black-translucent" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="android-minSdkVersion" value="15" />
    <icon src="www/icon.png" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
        <splash density="port-ldpi" src="www/res/screen/android/ldpi/screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/mdpi/screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/hdpi/screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/xhdpi/screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="www/res/icon/ios/icon-57.png" width="57" />
        <icon height="72" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="114" src="www/res/icon/ios/icon-57-2x.png" width="114" />
        <icon height="144" src="www/res/icon/ios/icon-72-2x.png" width="144" />
        <splash height="480" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="750" src="www/res/screen/ios/screen-iphone6-portrait.png" width="1334" />
        <splash height="1242" src="www/res/screen/ios/screen-iphone6p-portrait.png" width="2208" />
        <splash height="1024" src="www/res/screen/ios/screen-ipad-portrait.png" width="768"/>
    </platform>
</widget>
